h1 {
  color: #414141;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  padding-top: 180px;
}

.articles-showcase {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  padding-bottom: 163px;
}

.articles-showcase__card {
  max-width: 376px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 4px 8px 16px 0px #ff663333;
}

.articles-showcase__card__text {
  height: 258px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

time {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8f8f8f;
}

.articles-showcase__card__text__header {
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.articles-showcase__card__text__p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 130px;
  flex-grow: 1;
}

.articles-showcase__card__text__link {
  padding: 8px;
  color: white;
  background-color: #70c05b;
  transition: 0.2s;
  border-radius: 4px;
  margin-left: 8px;
  display: block;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
}

.articles-showcase__card__text__link:hover {
  background-color: #e5ffde;
  color: #70c05b;
}
