.articles {
  background-color: #fbf8ec;
  padding-top: 294px;
  padding-bottom: 163px;

  &__title {
    color: #414141;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 60px;
  }
}
